{erl_opts, [debug_info]}.

{src_dirs, ["src"]}.

{deps, [
  {fast_html, {git, "https://github.com/RomaniukVadim/fast_html.git", {branch, "master"}}}
]}.

{floki, [
    %{html_parser, html_parser_fasthtml}
    %{html_parser, html_parser_html5ever}
    {html_parser, html_parser_mochiweb}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [floki]}
]}.
